/* This file is for your main application css. */

/* @import "./phoenix.css"; */
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

/* CoreUI Styles */
@import "./coreui/style.css";
@import "./coreui/coreui-chartjs.css";
@import "./coreui/all.css";
@import "./coreui/custom.css";
