.small-table-column {
    max-width: 40px
}

div.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.horizontal-center {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

div.middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.game-board {
    border: 2px solid black;    
    display: grid;    
    background-image: url("/images/sprite_tile.png");
    background-repeat: repeat;
}